<?xml version="1.0" encoding="UTF-8"?>

<clientConfig version="1.1">
    <emailProvider id="{{ domain }}">
        <domain>{{ domain }}</domain>
        <displayName>{{ display_name }}</displayName>
        <displayShortName>%EMAILLOCALPART%</displayShortName>

        <incomingServer type="imap">
            <hostname>{{ imap_hostname }}</hostname>
            <port>993</port>
            <socketType>SSL</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
        </incomingServer>
        <incomingServer type="imap">
            <hostname>{{ imap_hostname }}</hostname>
            <port>143</port>
            <socketType>STARTTLS</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
        </incomingServer>

{% if pop_leave_on_server is defined and pop_leave_on_server | int > 0 %}
        <incomingServer type="pop3">
            <hostname>{{ pop_hostname }}</hostname>
            <port>995</port>
            <socketType>SSL</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
            <pop3>
               <leaveMessagesOnServer>true</leaveMessagesOnServer>
               <downloadOnBiff>true</downloadOnBiff>
               <daysToLeaveMessagesOnServer>{{pop_leave_on_server}}</daysToLeaveMessagesOnServer>
            </pop3>
        </incomingServer>
        <incomingServer type="pop3">
            <hostname>{{ pop_hostname }}</hostname>
            <port>110</port>
            <socketType>STARTTLS</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
            <pop3>
               <leaveMessagesOnServer>true</leaveMessagesOnServer>
               <downloadOnBiff>true</downloadOnBiff>
               <daysToLeaveMessagesOnServer>{{pop_leave_on_server}}</daysToLeaveMessagesOnServer>
            </pop3>
        </incomingServer>
{% else %}
        <incomingServer type="pop3">
            <hostname>{{ pop_hostname }}</hostname>
            <port>995</port>
            <socketType>SSL</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
            <pop3>
               <leaveMessagesOnServer>false</leaveMessagesOnServer>
               <downloadOnBiff>true</downloadOnBiff>
               <daysToLeaveMessagesOnServer>0</daysToLeaveMessagesOnServer>
            </pop3>
        </incomingServer>
        <incomingServer type="pop3">
            <hostname>{{ pop_hostname }}</hostname>
            <port>110</port>
            <socketType>STARTTLS</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
            <pop3>
               <leaveMessagesOnServer>false</leaveMessagesOnServer>
               <downloadOnBiff>true</downloadOnBiff>
               <daysToLeaveMessagesOnServer>0</daysToLeaveMessagesOnServer>
            </pop3>
        </incomingServer>
{% endif %}

        <outgoingServer type="smtp">
            <hostname>{{ smtp_hostname }}</hostname>
            <port>465</port>
            <socketType>SSL</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
        </outgoingServer>
        <outgoingServer type="smtp">
            <hostname>{{ smtp_hostname }}</hostname>
            <port>587</port>
            <socketType>STARTTLS</socketType>
            <authentication>password-cleartext</authentication>
            <username>%EMAILADDRESS%</username>
        </outgoingServer>

    </emailProvider>
</clientConfig>
